## ðŸ§¼ Basic Data Preprocessing Workflow

This section outlines the key steps taken to preprocess the main datasets (`application_train.csv` and `application_test.csv`) for credit risk modeling.

---

### ðŸ”¹ 1. Load the Data
- Import `application_train.csv` and `application_test.csv`
- Display basic info, shape, and sample rows

---

### ðŸ”¹ 2. Handle Missing Values
- Identify columns with missing values
- Drop columns with too many missing values
- Fill numerical columns with median or mean
- Fill categorical columns with mode or "Unknown"

---

### ðŸ”¹ 3. Fix Data Anomalies
- Correct or flag outliers if needed

---

### ðŸ”¹ 4. Encode Categorical Variables
- Use Label Encoding for binary categorical features
- Use One-Hot Encoding for nominal features with <10â€“15 unique categories
- Ensure train and test sets have matching columns after encoding

---

### ðŸ”¹ 5. Align Train and Test Sets
- Align both datasets to have the same features
- Retain `TARGET` column in training set

---

### ðŸ”¹ 6. Feature Scaling
- Apply MinMaxScaler or StandardScaler to normalize feature ranges

---

### ðŸ”¹ 7. Save Preprocessed Data
- Save cleaned train and test datasets

---

This preprocessing sets the foundation for robust modeling and ensures consistency between training and testing pipelines.

---
### Import Libraries

In [167]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [168]:
# Read train and test data
train = pd.read_csv('/home/saif/Desktop/Credit_risk_modeling/home-credit-default-risk/application_train.csv')
test = pd.read_csv('/home/saif/Desktop/Credit_risk_modeling/home-credit-default-risk/application_test.csv')

In [169]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [170]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Columns: 121 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(40), object(16)
memory usage: 45.0+ MB

In [171]:
train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [172]:
print(train.shape)
print(test.shape)

(307511, 122)
(48744, 121)

### Handling Missing values

In [173]:
train.isnull().sum()

SK_ID_CURR                        0
TARGET                            0
NAME_CONTRACT_TYPE                0
CODE_GENDER                       0
FLAG_OWN_CAR                      0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 122, dtype: int64

In [174]:
test.isnull().sum()

SK_ID_CURR                       0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
FLAG_OWN_REALTY                  0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     6049
AMT_REQ_CREDIT_BUREAU_WEEK    6049
AMT_REQ_CREDIT_BUREAU_MON     6049
AMT_REQ_CREDIT_BUREAU_QRT     6049
AMT_REQ_CREDIT_BUREAU_YEAR    6049
Length: 121, dtype: int64

In [175]:
# function to identify columns and thier missing percentages values
def missing_values(df):
    total = df.isnull().sum().sort_values(ascending=False)
    percent = (df.isnull().sum() / df.isnull().count()).sort_values(ascending=False)
    missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
    return missing_data

In [176]:
# columns with more than 40% missing values in train dataset
missing_values(train).loc[missing_values(train)['Percent'] > 0.4]

                               Total   Percent
COMMONAREA_MEDI               214865  0.698723
COMMONAREA_AVG                214865  0.698723
COMMONAREA_MODE               214865  0.698723
NONLIVINGAPARTMENTS_MODE      213514  0.694330
NONLIVINGAPARTMENTS_AVG       213514  0.694330
NONLIVINGAPARTMENTS_MEDI      213514  0.694330
FONDKAPREMONT_MODE            210295  0.683862
LIVINGAPARTMENTS_MODE         210199  0.683550
LIVINGAPARTMENTS_AVG          210199  0.683550
LIVINGAPARTMENTS_MEDI         210199  0.683550
FLOORSMIN_AVG                 208642  0.678486
FLOORSMIN_MODE                208642  0.678486
FLOORSMIN_MEDI                208642  0.678486
YEARS_BUILD_MEDI              204488  0.664978
YEARS_BUILD_MODE              204488  0.664978
YEARS_BUILD_AVG               204488  0.664978
OWN_CAR_AGE                   202929  0.659908
LANDAREA_MEDI                 182590  0.593767
LANDAREA_MODE                 182590  0.593767
LANDAREA_AVG                  182590  0.593767
BASEMENTAREA_MEDI             179943  0.585160
BASEMENTAREA_AVG              179943  0.585160
BASEMENTAREA_MODE             179943  0.585160
EXT_SOURCE_1                  173378  0.563811
NONLIVINGAREA_MODE            169682  0.551792
NONLIVINGAREA_AVG             169682  0.551792
NONLIVINGAREA_MEDI            169682  0.551792
ELEVATORS_MEDI                163891  0.532960
ELEVATORS_AVG                 163891  0.532960
ELEVATORS_MODE                163891  0.532960
WALLSMATERIAL_MODE            156341  0.508408
APARTMENTS_MEDI               156061  0.507497
APARTMENTS_AVG                156061  0.507497
APARTMENTS_MODE               156061  0.507497
ENTRANCES_MEDI                154828  0.503488
ENTRANCES_AVG                 154828  0.503488
ENTRANCES_MODE                154828  0.503488
LIVINGAREA_AVG                154350  0.501933
LIVINGAREA_MODE               154350  0.501933
LIVINGAREA_MEDI               154350  0.501933
HOUSETYPE_MODE                154297  0.501761
FLOORSMAX_MODE                153020  0.497608
FLOORSMAX_MEDI                153020  0.497608
FLOORSMAX_AVG                 153020  0.497608
YEARS_BEGINEXPLUATATION_MODE  150007  0.487810
YEARS_BEGINEXPLUATATION_MEDI  150007  0.487810
YEARS_BEGINEXPLUATATION_AVG   150007  0.487810
TOTALAREA_MODE                148431  0.482685
EMERGENCYSTATE_MODE           145755  0.473983

In [177]:
missing_values(train).loc[missing_values(train)['Percent'] > 0.4].index

Index(['COMMONAREA_MEDI', 'COMMONAREA_AVG', 'COMMONAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAPARTMENTS_MEDI', 'FONDKAPREMONT_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAPARTMENTS_MEDI', 'FLOORSMIN_AVG', 'FLOORSMIN_MODE',
       'FLOORSMIN_MEDI', 'YEARS_BUILD_MEDI', 'YEARS_BUILD_MODE',
       'YEARS_BUILD_AVG', 'OWN_CAR_AGE', 'LANDAREA_MEDI', 'LANDAREA_MODE',
       'LANDAREA_AVG', 'BASEMENTAREA_MEDI', 'BASEMENTAREA_AVG',
       'BASEMENTAREA_MODE', 'EXT_SOURCE_1', 'NONLIVINGAREA_MODE',
       'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MEDI', 'ELEVATORS_MEDI',
       'ELEVATORS_AVG', 'ELEVATORS_MODE', 'WALLSMATERIAL_MODE',
       'APARTMENTS_MEDI', 'APARTMENTS_AVG', 'APARTMENTS_MODE',
       'ENTRANCES_MEDI', 'ENTRANCES_AVG', 'ENTRANCES_MODE', 'LIVINGAREA_AVG',
       'LIVINGAREA_MODE', 'LIVINGAREA_MEDI', 'HOUSETYPE_MODE',
       'FLOORSMAX_MODE', 'FLOORSMAX_MEDI', 'FLOORSMAX_AVG',
       'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BEGINEXPLUATATION_AVG', 'TOTALAREA_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [178]:
# columns with more than 40% missing values in test dataset
missing_values(test).loc[missing_values(test)['Percent'] > 0.4]

                              Total   Percent
COMMONAREA_AVG                33495  0.687161
COMMONAREA_MODE               33495  0.687161
COMMONAREA_MEDI               33495  0.687161
NONLIVINGAPARTMENTS_AVG       33347  0.684125
NONLIVINGAPARTMENTS_MODE      33347  0.684125
NONLIVINGAPARTMENTS_MEDI      33347  0.684125
FONDKAPREMONT_MODE            32797  0.672842
LIVINGAPARTMENTS_AVG          32780  0.672493
LIVINGAPARTMENTS_MODE         32780  0.672493
LIVINGAPARTMENTS_MEDI         32780  0.672493
FLOORSMIN_MEDI                32466  0.666051
FLOORSMIN_AVG                 32466  0.666051
FLOORSMIN_MODE                32466  0.666051
OWN_CAR_AGE                   32312  0.662892
YEARS_BUILD_AVG               31818  0.652757
YEARS_BUILD_MEDI              31818  0.652757
YEARS_BUILD_MODE              31818  0.652757
LANDAREA_MEDI                 28254  0.579641
LANDAREA_AVG                  28254  0.579641
LANDAREA_MODE                 28254  0.579641
BASEMENTAREA_MEDI             27641  0.567065
BASEMENTAREA_AVG              27641  0.567065
BASEMENTAREA_MODE             27641  0.567065
NONLIVINGAREA_AVG             26084  0.535122
NONLIVINGAREA_MODE            26084  0.535122
NONLIVINGAREA_MEDI            26084  0.535122
ELEVATORS_MODE                25189  0.516761
ELEVATORS_MEDI                25189  0.516761
ELEVATORS_AVG                 25189  0.516761
WALLSMATERIAL_MODE            23893  0.490173
APARTMENTS_MODE               23887  0.490050
APARTMENTS_MEDI               23887  0.490050
APARTMENTS_AVG                23887  0.490050
HOUSETYPE_MODE                23619  0.484552
ENTRANCES_MODE                23579  0.483731
ENTRANCES_AVG                 23579  0.483731
ENTRANCES_MEDI                23579  0.483731
LIVINGAREA_MEDI               23552  0.483177
LIVINGAREA_MODE               23552  0.483177
LIVINGAREA_AVG                23552  0.483177
FLOORSMAX_AVG                 23321  0.478438
FLOORSMAX_MEDI                23321  0.478438
FLOORSMAX_MODE                23321  0.478438
YEARS_BEGINEXPLUATATION_AVG   22856  0.468899
YEARS_BEGINEXPLUATATION_MEDI  22856  0.468899
YEARS_BEGINEXPLUATATION_MODE  22856  0.468899
TOTALAREA_MODE                22624  0.464139
EMERGENCYSTATE_MODE           22209  0.455625
EXT_SOURCE_1                  20532  0.421221

In [179]:
missing_values(test).loc[missing_values(test)['Percent'] > 0.4].index

Index(['COMMONAREA_AVG', 'COMMONAREA_MODE', 'COMMONAREA_MEDI',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_MODE',
       'NONLIVINGAPARTMENTS_MEDI', 'FONDKAPREMONT_MODE',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAPARTMENTS_MEDI', 'FLOORSMIN_MEDI', 'FLOORSMIN_AVG',
       'FLOORSMIN_MODE', 'OWN_CAR_AGE', 'YEARS_BUILD_AVG', 'YEARS_BUILD_MEDI',
       'YEARS_BUILD_MODE', 'LANDAREA_MEDI', 'LANDAREA_AVG', 'LANDAREA_MODE',
       'BASEMENTAREA_MEDI', 'BASEMENTAREA_AVG', 'BASEMENTAREA_MODE',
       'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MODE', 'NONLIVINGAREA_MEDI',
       'ELEVATORS_MODE', 'ELEVATORS_MEDI', 'ELEVATORS_AVG',
       'WALLSMATERIAL_MODE', 'APARTMENTS_MODE', 'APARTMENTS_MEDI',
       'APARTMENTS_AVG', 'HOUSETYPE_MODE', 'ENTRANCES_MODE', 'ENTRANCES_AVG',
       'ENTRANCES_MEDI', 'LIVINGAREA_MEDI', 'LIVINGAREA_MODE',
       'LIVINGAREA_AVG', 'FLOORSMAX_AVG', 'FLOORSMAX_MEDI', 'FLOORSMAX_MODE',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BEGINEXPLUATATION_MODE', 'TOTALAREA_MODE', 'EMERGENCYSTATE_MODE',
       'EXT_SOURCE_1'],
      dtype='object')

**Droppig columns which have more than 40% missiang values**

In [180]:
train.drop(['COMMONAREA_MEDI', 'COMMONAREA_AVG', 'COMMONAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAPARTMENTS_MEDI', 'FONDKAPREMONT_MODE',
       'LIVINGAPARTMENTS_MODE', 'LIVINGAPARTMENTS_AVG',
       'LIVINGAPARTMENTS_MEDI', 'FLOORSMIN_AVG', 'FLOORSMIN_MODE',
       'FLOORSMIN_MEDI', 'YEARS_BUILD_MEDI', 'YEARS_BUILD_MODE',
       'YEARS_BUILD_AVG', 'OWN_CAR_AGE', 'LANDAREA_MEDI', 'LANDAREA_MODE',
       'LANDAREA_AVG', 'BASEMENTAREA_MEDI', 'BASEMENTAREA_AVG',
       'BASEMENTAREA_MODE', 'EXT_SOURCE_1', 'NONLIVINGAREA_MODE',
       'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MEDI', 'ELEVATORS_MEDI',
       'ELEVATORS_AVG', 'ELEVATORS_MODE', 'WALLSMATERIAL_MODE',
       'APARTMENTS_MEDI', 'APARTMENTS_AVG', 'APARTMENTS_MODE',
       'ENTRANCES_MEDI', 'ENTRANCES_AVG', 'ENTRANCES_MODE', 'LIVINGAREA_AVG',
       'LIVINGAREA_MODE', 'LIVINGAREA_MEDI', 'HOUSETYPE_MODE',
       'FLOORSMAX_MODE', 'FLOORSMAX_MEDI', 'FLOORSMAX_AVG',
       'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BEGINEXPLUATATION_AVG', 'TOTALAREA_MODE', 'EMERGENCYSTATE_MODE'], axis=1, inplace=True)

In [181]:
test.drop(['COMMONAREA_AVG', 'COMMONAREA_MODE', 'COMMONAREA_MEDI',
       'NONLIVINGAPARTMENTS_AVG', 'NONLIVINGAPARTMENTS_MODE',
       'NONLIVINGAPARTMENTS_MEDI', 'FONDKAPREMONT_MODE',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAPARTMENTS_MODE',
       'LIVINGAPARTMENTS_MEDI', 'FLOORSMIN_MEDI', 'FLOORSMIN_AVG',
       'FLOORSMIN_MODE', 'OWN_CAR_AGE', 'YEARS_BUILD_AVG', 'YEARS_BUILD_MEDI',
       'YEARS_BUILD_MODE', 'LANDAREA_MEDI', 'LANDAREA_AVG', 'LANDAREA_MODE',
       'BASEMENTAREA_MEDI', 'BASEMENTAREA_AVG', 'BASEMENTAREA_MODE',
       'NONLIVINGAREA_AVG', 'NONLIVINGAREA_MODE', 'NONLIVINGAREA_MEDI',
       'ELEVATORS_MODE', 'ELEVATORS_MEDI', 'ELEVATORS_AVG',
       'WALLSMATERIAL_MODE', 'APARTMENTS_MODE', 'APARTMENTS_MEDI',
       'APARTMENTS_AVG', 'HOUSETYPE_MODE', 'ENTRANCES_MODE', 'ENTRANCES_AVG',
       'ENTRANCES_MEDI', 'LIVINGAREA_MEDI', 'LIVINGAREA_MODE',
       'LIVINGAREA_AVG', 'FLOORSMAX_AVG', 'FLOORSMAX_MEDI', 'FLOORSMAX_MODE',
       'YEARS_BEGINEXPLUATATION_AVG', 'YEARS_BEGINEXPLUATATION_MEDI',
       'YEARS_BEGINEXPLUATATION_MODE', 'TOTALAREA_MODE', 'EMERGENCYSTATE_MODE',
       'EXT_SOURCE_1'], axis=1, inplace=True)

In [182]:
print(train.shape)
print(test.shape)

(307511, 73)
(48744, 72)

In [183]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Data columns (total 73 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   SK_ID_CURR                   307511 non-null  int64
 1   TARGET                       307511 non-null  int64
 2   NAME_CONTRACT_TYPE           307511 non-null  object
 3   CODE_GENDER                  307511 non-null  object
 4   FLAG_OWN_CAR                 307511 non-null  object
 5   FLAG_OWN_REALTY              307511 non-null  object
 6   CNT_CHILDREN                 307511 non-null  int64
 7   AMT_INCOME_TOTAL             307511 non-null  float64
 8   AMT_CREDIT                   307511 non-null  float64
 9   AMT_ANNUITY                  307499 non-null  float64
 10  AMT_GOODS_PRICE              307233 non-null  float64
 11  NAME_TYPE_SUITE              306219 non-null  object
 12  NAME_INCOME_TYPE             307511 non-null  object
 13  NAME_EDUCATION_TYPE          307511 non-null  object
 14  NAME_FAMILY_STATUS           307511 non-null  object
 15  NAME_HOUSING_TYPE            307511 non-null  object
 16  REGION_POPULATION_RELATIVE   307511 non-null  float64
 17  DAYS_BIRTH                   307511 non-null  int64
 18  DAYS_EMPLOYED                307511 non-null  int64
 19  DAYS_REGISTRATION            307511 non-null  float64
 20  DAYS_ID_PUBLISH              307511 non-null  int64
 21  FLAG_MOBIL                   307511 non-null  int64
 22  FLAG_EMP_PHONE               307511 non-null  int64
 23  FLAG_WORK_PHONE              307511 non-null  int64
 24  FLAG_CONT_MOBILE             307511 non-null  int64
 25  FLAG_PHONE                   307511 non-null  int64
 26  FLAG_EMAIL                   307511 non-null  int64
 27  OCCUPATION_TYPE              211120 non-null  object
 28  CNT_FAM_MEMBERS              307509 non-null  float64
 29  REGION_RATING_CLIENT         307511 non-null  int64
 30  REGION_RATING_CLIENT_W_CITY  307511 non-null  int64
 31  WEEKDAY_APPR_PROCESS_START   307511 non-null  object
 32  HOUR_APPR_PROCESS_START      307511 non-null  int64
 33  REG_REGION_NOT_LIVE_REGION   307511 non-null  int64
 34  REG_REGION_NOT_WORK_REGION   307511 non-null  int64
 35  LIVE_REGION_NOT_WORK_REGION  307511 non-null  int64
 36  REG_CITY_NOT_LIVE_CITY       307511 non-null  int64
 37  REG_CITY_NOT_WORK_CITY       307511 non-null  int64
 38  LIVE_CITY_NOT_WORK_CITY      307511 non-null  int64
 39  ORGANIZATION_TYPE            307511 non-null  object
 40  EXT_SOURCE_2                 306851 non-null  float64
 41  EXT_SOURCE_3                 246546 non-null  float64
 42  OBS_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 43  DEF_30_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 44  OBS_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 45  DEF_60_CNT_SOCIAL_CIRCLE     306490 non-null  float64
 46  DAYS_LAST_PHONE_CHANGE       307510 non-null  float64
 47  FLAG_DOCUMENT_2              307511 non-null  int64
 48  FLAG_DOCUMENT_3              307511 non-null  int64
 49  FLAG_DOCUMENT_4              307511 non-null  int64
 50  FLAG_DOCUMENT_5              307511 non-null  int64
 51  FLAG_DOCUMENT_6              307511 non-null  int64
 52  FLAG_DOCUMENT_7              307511 non-null  int64
 53  FLAG_DOCUMENT_8              307511 non-null  int64
 54  FLAG_DOCUMENT_9              307511 non-null  int64
 55  FLAG_DOCUMENT_10             307511 non-null  int64
 56  FLAG_DOCUMENT_11             307511 non-null  int64
 57  FLAG_DOCUMENT_12             307511 non-null  int64
 58  FLAG_DOCUMENT_13             307511 non-null  int64
 59  FLAG_DOCUMENT_14             307511 non-null  int64
 60  FLAG_DOCUMENT_15             307511 non-null  int64
 61  FLAG_DOCUMENT_16             307511 non-null  int64
 62  FLAG_DOCUMENT_17             307511 non-null  int64
 63  FLAG_DOCUMENT_18             307511 non-null  int64
 64  FLAG_DOCUMENT_19             307511 non-null  int64
 65  FLAG_DOCUMENT_20             307511 non-null  int64
 66  FLAG_DOCUMENT_21             307511 non-null  int64
 67  AMT_REQ_CREDIT_BUREAU_HOUR   265992 non-null  float64
 68  AMT_REQ_CREDIT_BUREAU_DAY    265992 non-null  float64
 69  AMT_REQ_CREDIT_BUREAU_WEEK   265992 non-null  float64
 70  AMT_REQ_CREDIT_BUREAU_MON    265992 non-null  float64
 71  AMT_REQ_CREDIT_BUREAU_QRT    265992 non-null  float64
 72  AMT_REQ_CREDIT_BUREAU_YEAR   265992 non-null  float64
dtypes: float64(20), int64(41), object(12)
memory usage: 171.3+ MB

In [184]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48744 entries, 0 to 48743
Data columns (total 72 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   SK_ID_CURR                   48744 non-null  int64
 1   NAME_CONTRACT_TYPE           48744 non-null  object
 2   CODE_GENDER                  48744 non-null  object
 3   FLAG_OWN_CAR                 48744 non-null  object
 4   FLAG_OWN_REALTY              48744 non-null  object
 5   CNT_CHILDREN                 48744 non-null  int64
 6   AMT_INCOME_TOTAL             48744 non-null  float64
 7   AMT_CREDIT                   48744 non-null  float64
 8   AMT_ANNUITY                  48720 non-null  float64
 9   AMT_GOODS_PRICE              48744 non-null  float64
 10  NAME_TYPE_SUITE              47833 non-null  object
 11  NAME_INCOME_TYPE             48744 non-null  object
 12  NAME_EDUCATION_TYPE          48744 non-null  object
 13  NAME_FAMILY_STATUS           48744 non-null  object
 14  NAME_HOUSING_TYPE            48744 non-null  object
 15  REGION_POPULATION_RELATIVE   48744 non-null  float64
 16  DAYS_BIRTH                   48744 non-null  int64
 17  DAYS_EMPLOYED                48744 non-null  int64
 18  DAYS_REGISTRATION            48744 non-null  float64
 19  DAYS_ID_PUBLISH              48744 non-null  int64
 20  FLAG_MOBIL                   48744 non-null  int64
 21  FLAG_EMP_PHONE               48744 non-null  int64
 22  FLAG_WORK_PHONE              48744 non-null  int64
 23  FLAG_CONT_MOBILE             48744 non-null  int64
 24  FLAG_PHONE                   48744 non-null  int64
 25  FLAG_EMAIL                   48744 non-null  int64
 26  OCCUPATION_TYPE              33139 non-null  object
 27  CNT_FAM_MEMBERS              48744 non-null  float64
 28  REGION_RATING_CLIENT         48744 non-null  int64
 29  REGION_RATING_CLIENT_W_CITY  48744 non-null  int64
 30  WEEKDAY_APPR_PROCESS_START   48744 non-null  object
 31  HOUR_APPR_PROCESS_START      48744 non-null  int64
 32  REG_REGION_NOT_LIVE_REGION   48744 non-null  int64
 33  REG_REGION_NOT_WORK_REGION   48744 non-null  int64
 34  LIVE_REGION_NOT_WORK_REGION  48744 non-null  int64
 35  REG_CITY_NOT_LIVE_CITY       48744 non-null  int64
 36  REG_CITY_NOT_WORK_CITY       48744 non-null  int64
 37  LIVE_CITY_NOT_WORK_CITY      48744 non-null  int64
 38  ORGANIZATION_TYPE            48744 non-null  object
 39  EXT_SOURCE_2                 48736 non-null  float64
 40  EXT_SOURCE_3                 40076 non-null  float64
 41  OBS_30_CNT_SOCIAL_CIRCLE     48715 non-null  float64
 42  DEF_30_CNT_SOCIAL_CIRCLE     48715 non-null  float64
 43  OBS_60_CNT_SOCIAL_CIRCLE     48715 non-null  float64
 44  DEF_60_CNT_SOCIAL_CIRCLE     48715 non-null  float64
 45  DAYS_LAST_PHONE_CHANGE       48744 non-null  float64
 46  FLAG_DOCUMENT_2              48744 non-null  int64
 47  FLAG_DOCUMENT_3              48744 non-null  int64
 48  FLAG_DOCUMENT_4              48744 non-null  int64
 49  FLAG_DOCUMENT_5              48744 non-null  int64
 50  FLAG_DOCUMENT_6              48744 non-null  int64
 51  FLAG_DOCUMENT_7              48744 non-null  int64
 52  FLAG_DOCUMENT_8              48744 non-null  int64
 53  FLAG_DOCUMENT_9              48744 non-null  int64
 54  FLAG_DOCUMENT_10             48744 non-null  int64
 55  FLAG_DOCUMENT_11             48744 non-null  int64
 56  FLAG_DOCUMENT_12             48744 non-null  int64
 57  FLAG_DOCUMENT_13             48744 non-null  int64
 58  FLAG_DOCUMENT_14             48744 non-null  int64
 59  FLAG_DOCUMENT_15             48744 non-null  int64
 60  FLAG_DOCUMENT_16             48744 non-null  int64
 61  FLAG_DOCUMENT_17             48744 non-null  int64
 62  FLAG_DOCUMENT_18             48744 non-null  int64
 63  FLAG_DOCUMENT_19             48744 non-null  int64
 64  FLAG_DOCUMENT_20             48744 non-null  int64
 65  FLAG_DOCUMENT_21             48744 non-null  int64
 66  AMT_REQ_CREDIT_BUREAU_HOUR   42695 non-null  float64
 67  AMT_REQ_CREDIT_BUREAU_DAY    42695 non-null  float64
 68  AMT_REQ_CREDIT_BUREAU_WEEK   42695 non-null  float64
 69  AMT_REQ_CREDIT_BUREAU_MON    42695 non-null  float64
 70  AMT_REQ_CREDIT_BUREAU_QRT    42695 non-null  float64
 71  AMT_REQ_CREDIT_BUREAU_YEAR   42695 non-null  float64
dtypes: float64(20), int64(40), object(12)
memory usage: 26.8+ MB

In [185]:
missing_values(train).loc[missing_values(train)['Percent'] > 0.4]

Empty DataFrame
Columns: [Total, Percent]
Index: []

In [186]:
missing_values(test).loc[missing_values(test)['Percent'] > 0.4]

Empty DataFrame
Columns: [Total, Percent]
Index: []

Now there is no columns which have more than 40% missing values

In [187]:
missing_values(train)

                             Total   Percent
OCCUPATION_TYPE              96391  0.313455
EXT_SOURCE_3                 60965  0.198253
AMT_REQ_CREDIT_BUREAU_YEAR   41519  0.135016
AMT_REQ_CREDIT_BUREAU_QRT    41519  0.135016
AMT_REQ_CREDIT_BUREAU_MON    41519  0.135016
...                            ...       ...
REG_REGION_NOT_LIVE_REGION       0  0.000000
REG_REGION_NOT_WORK_REGION       0  0.000000
LIVE_REGION_NOT_WORK_REGION      0  0.000000
TARGET                           0  0.000000
REG_CITY_NOT_LIVE_CITY           0  0.000000

[73 rows x 2 columns]

In [188]:
train['OCCUPATION_TYPE'].value_counts()

OCCUPATION_TYPE
Laborers                 55186
Sales staff              32102
Core staff               27570
Managers                 21371
Drivers                  18603
High skill tech staff    11380
Accountants               9813
Medicine staff            8537
Security staff            6721
Cooking staff             5946
Cleaning staff            4653
Private service staff     2652
Low-skill Laborers        2093
Waiters/barmen staff      1348
Secretaries               1305
Realty agents              751
HR staff                   563
IT staff                   526
Name: count, dtype: int64

In [189]:
train['OCCUPATION_TYPE'].unique()

array(['Laborers', 'Core staff', 'Accountants', 'Managers', nan,
       'Drivers', 'Sales staff', 'Cleaning staff', 'Cooking staff',
       'Private service staff', 'Medicine staff', 'Security staff',
       'High skill tech staff', 'Waiters/barmen staff',
       'Low-skill Laborers', 'Realty agents', 'Secretaries', 'IT staff',
       'HR staff'], dtype=object)

In [190]:
train['OCCUPATION_TYPE'].isnull().sum()

96391

### Filling the missing values with random categories from the existing categories of occupation type

In [191]:
# Get all existing (non-null) occupation types
existing_categories = train['OCCUPATION_TYPE'].dropna().unique()
existing_categories

array(['Laborers', 'Core staff', 'Accountants', 'Managers', 'Drivers',
       'Sales staff', 'Cleaning staff', 'Cooking staff',
       'Private service staff', 'Medicine staff', 'Security staff',
       'High skill tech staff', 'Waiters/barmen staff',
       'Low-skill Laborers', 'Realty agents', 'Secretaries', 'IT staff',
       'HR staff'], dtype=object)

In [192]:
# Number of missing values
num_missing = train['OCCUPATION_TYPE'].isnull().sum()
num_missing

96391

In [193]:
# Generate random values from the existing categories
random_choices = np.random.choice(existing_categories, size=num_missing, replace=True)
random_choices

array(['Drivers', 'IT staff', 'Drivers', ..., 'Private service staff',
       'Cooking staff', 'Security staff'], dtype=object)

In [194]:
# Assign them to the missing locations
train.loc[train['OCCUPATION_TYPE'].isnull(), 'OCCUPATION_TYPE'] = random_choices

In [195]:
train['OCCUPATION_TYPE'].isnull().sum()

0

In [196]:
train['OCCUPATION_TYPE'].value_counts()

OCCUPATION_TYPE
Laborers                 60516
Sales staff              37512
Core staff               32881
Managers                 26737
Drivers                  24089
High skill tech staff    16713
Accountants              15258
Medicine staff           13887
Security staff           11992
Cooking staff            11303
Cleaning staff           10066
Private service staff     7960
Low-skill Laborers        7394
Waiters/barmen staff      6668
Secretaries               6643
Realty agents             6151
HR staff                  5889
IT staff                  5852
Name: count, dtype: int64

In [197]:
missing_values(train)

                             Total   Percent
EXT_SOURCE_3                 60965  0.198253
AMT_REQ_CREDIT_BUREAU_YEAR   41519  0.135016
AMT_REQ_CREDIT_BUREAU_QRT    41519  0.135016
AMT_REQ_CREDIT_BUREAU_MON    41519  0.135016
AMT_REQ_CREDIT_BUREAU_WEEK   41519  0.135016
...                            ...       ...
REG_REGION_NOT_LIVE_REGION       0  0.000000
REG_REGION_NOT_WORK_REGION       0  0.000000
LIVE_REGION_NOT_WORK_REGION      0  0.000000
TARGET                           0  0.000000
REG_CITY_NOT_LIVE_CITY           0  0.000000

[73 rows x 2 columns]